<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
	<link rel="apple-touch-startup-image" href="images/apple-touch-startup-image-320x460.png" />
	<title>FitWizard - Welcome Wizard</title>
	<link rel="stylesheet" href="/css/framework7.css">
	<link rel="stylesheet" href="/style.css">
	<link type="text/css" rel="stylesheet" href="/css/swipebox.css" />
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,900' rel='stylesheet' type='text/css'>

	<script type="text/javascript" src="/js/fitwizard.js" defer></script>
</head>
<body id="mobile_wrap">

	<div class="statusbar-overlay"></div>

	<div class="panel-overlay"></div>

	<%- include('components/menu') %>

	<div class="panel panel-right panel-cover">
	<div class="user_login_info">
	<h2>Hi, username</h2>
	<p>Edit your account settings</p>
			<nav class="list-nav-small">
			<ul>
				<li class="about-icon"><a href="/about.html" class="close-panel">Profile</a></li>
				<li class="tools-icon"><a href="/features.html" class="close-panel">Settings</a></li>
				<li class="lock-icon"><a href="/features.html" class="close-panel">Account</a></li>
				<li class="envelope-icon"><a href="/features.html" class="close-panel">Messages</a></li>
				<li class="heart-icon"><a href="/features.html" class="close-panel">Favorites</a></li>
				<li class="download-icon"><a href="/features.html" class="close-panel">Downloads</a></li>
				<li class="logout-icon"><a href="/" class="close-panel">Logout</a></li>
			</ul>
			</nav>
	</div>
	</div>

	<div class="views">

	<div class="view view-main">

	<div class="navbar">
		<div class="navbar-inner">
		<div class="left sliding"><div class="logo_title">FitWizard</div></div>
		<div class="right menu_open_icon"><a href="#" data-panel="left" class="link icon-only open-panel"></a></div>
		</div>
	</div>

	<div class="pages navbar-through toolbar-through">

		<div data-page="index" class="page homepage">
		<div class="page-content">

				<!-- Slider -->
				<div class="swiper-container swiper-init" data-effect="coverflow" data-pagination=".swiper-pagination" data-paginationClickable="true">
				<div class="swiper-wrapper">
				
					<div class="swiper-slide">
						<span>EMBARK!</span>
						<span class="subtitle">Walk, run, and kill monsters</span>
						<a id="start_adventure" href="#" data-popup=".popup-adventure" class="swiper_read_more open-popup">Start Adventure</a>
					</div>
					<div class="swiper-slide">
						<span>INVENTORY</span>
						<!-- <span class="subtitle">Earn XP and grow stronger</span> -->
						<ul style="padding: 5px; margin:0 auto;font-size: larger;color: #fff;background-color: #0009;width:70%;text-align:left;">
							<li>a blessed +1 quarterstaff</li>
							<li>a blessed +0 cloak of magic resistance</li>
							<li>a wand of undead turning (0:5)</li>
						</ul>
						<!-- <a href="#" data-popup=".popup-signup" class="swiper_read_more open-popup">Play for Free</a> -->
					</div>
					<div class="swiper-slide">
						<span>Player Stats</span>
						<span class="subtitle">Level: 1 [0/100]</span>
						<ul style="padding: 5px; margin:0 auto;font-size: larger;color: #fff;background-color: #0009;width:70%;text-align:left;">
							<li>Strength: <strong><%- attributes.strength %></strong></li>
							<li>Dexterity: <strong><%- attributes.dexterity %></strong></li>
							<li>Constitution: <strong><%- attributes.constitution %></strong></li>
							<li>Intelligence: <strong><%- attributes.intelligence %></strong></li>
							<li>Wisdom: <strong><%- attributes.wisdom %></strong></li>
							
						</ul>
					</div>
				</div>
				<div class="swiper-pagination"></div>
				</div>
		</div>
		</div>
	</div>
	<!-- Bottom Toolbar-->
	<div class="toolbar">
			<div class="toolbar-inner">
			<ul class="toolbar_icons icons_4row">
			<!-- <li><a href="#" data-popup=".popup-login" class="open-popup"><img src="images/icons/white/user.png" alt="" title="" /></a></li> -->
			<!-- <li><a href="features.html"><img src="images/icons/white/settings.png" alt="" title="" /></a></li>
			<li><a href="photos.html"><img src="images/icons/white/photos.png" alt="" title="" /></a></li>
			<li><a href="#" data-popup=".popup-social" class="open-popup"><img src="images/icons/white/heart.png" alt="" title="" /></a></li> -->
			</ul>
			</div>  
	</div>


	</div>
	</div>

	
	<!-- Adventure Popup -->
	<div class="popup popup-adventure">
		<div class="content-block">
		<h4>Adventure!</h4>
			<div id="adventure_panel">
				<div id="output_panel">
				</div>
				<div id="battle_panel">
				</div>
				<div id="battle_controls">
					<a href="#" id="do_melee" class="swiper_read_more">⚔</a>
					<a href="#" id="do_spell" class="swiper_read_more">⚡</a>
				</div>
			</div>
			<div class="close_popup_button_gray"><a id="end_adventure" href="#" class="close-popup">End Adventure</a></div>
		</div>
	</div>

	<!-- Services Popup -->
	<div class="popup popup-social">
	<div class="content-block">
	<h4>Social Share</h4>
	<p>Share icons solution that allows you share and increase your social popularity.</p>
	<ul class="social_share">
	<li><a href="#"><img src="images/icons/white/twitter.png" alt="" title="" /></a></li>
	<li><a href="#"><img src="images/icons/white/facebook.png" alt="" title="" /></a></li>
	<li><a href="#"><img src="images/icons/white/googleplus.png" alt="" title="" /></a></li>
	<li><a href="#"><img src="images/icons/white/dribbble.png" alt="" title="" /></a></li>
	<li><a href="#"><img src="images/icons/white/linkedin.png" alt="" title="" /></a></li>
	<li><a href="#"><img src="images/icons/white/pinterest.png" alt="" title="" /></a></li>
	</ul>
	<div class="close_popup_button"><a href="#" class="close-popup">Close</a></div>
	</div>
	</div>

	<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
	<script src="js/jquery.validate.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/framework7.js"></script>
	<script type="text/javascript" src="js/my-app.js"></script>
	<script type="text/javascript" src="js/jquery.swipebox.js"></script>
	<script type="text/javascript" src="js/jquery.fitvids.js"></script>
	<script type="text/javascript" src="js/email.js"></script>
	</body>
</html>